<p *ngIf = "!(auth.getUser()| async)">You are not logged in</p>
<div>
  <button mat-raised-button
  color = "primary"
  (click) = "addBookFormOPen = !addBookFormOPen"
>
Add Book
</button>      
</div>
<div>
  <bookform *ngIf = "addBookFormOPen"
    (update) = "add($event)" 
    (closeEdit) = "addBookFormOPen = false"
    [formType] = "'Add book'">    
  </bookform>
</div>
<mat-accordion  *ngIf = "(auth.getUser()| async)">
  <mat-expansion-panel (opened)="panelOpenState = true"
                       (closed)="panelOpenState = false"
                       *ngFor = "let book of books; let i = index">
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{book.title}}
      </mat-panel-title>
      <mat-panel-description>
        {{book.author}}
        <button mat-raised-button
        color = "primary"
        (click) = "deleteBook(book.id)">
        Delete
        </button>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <button mat-raised-button
    color = "primary"
    (click) = "editstate[i] = !editstate[i]"
    >
    Edit
    </button>
    <bookform
      [hidden] = "!editstate[i]"
      [title] = "book.title"
      [author] = "book.author"
      [id] = "book.id"
      [formType] = "'Edit book'"
      (update) = "update($event);editstate[i] = !editstate[i]"
      (closeEdit) = "editstate[i] = !editstate[i]"
    >
    </bookform>
      <p>{{book.summary}}</p>
  </mat-expansion-panel>
</mat-accordion> 
<div>
  <button mat-raised-button (click) = "prevPage()" color="primary"> Prev page </button>
  <button mat-raised-button color = "primary" (click) = "nextPage()"> Next page </button>
</div>
